@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap");
@import "tailwindcss";

@theme {
  --color-gb-white: #f1f1f1;
  --color-gb-lt-grey: #d2d2d2;
  --color-gb-md-grey: #ededf0;
  --color-gb-dk-grey: #29292e;
  --color-gb-black: #231f20;
  --color-gb-lt-purple: #515170;
  --color-gb-md-purple: #1a1a30;
  --color-gb-dk-purple: #141425;

  --font-copy: Oswald, "Helvetica", "Arial", "sans-serif";
  --font-heading: Oswald, "Helvetica", "Arial", "sans-serif";
  --text-sm: 0.875em;
  --text-base: 1em;
  --text-lg: 1.25em;
  --text-xl: 1.75em;
  --text-2xl: 2em;
  --text-3xl: 2.5em;
  --text-4xl: 3em;
  --text-5xl: 3.5em;
  --text-6xl: 4em;
  --radius-sm: 0.25em;
  --radius-sm: 0.5em;
  --radius-lg: 1em;
  --radius-xl: 2em;
}

@utility bg-rad-grad {
  background-image: radial-gradient(circle, #1a1a30 50%, #141425 100%);
}
@utility bg-rad-grad-90 {
  background-image: radial-gradient(
    circle,
    rgba(26, 26, 48, 0.9) 50%,
    rgba(20, 20, 37, 0.9) 100%
  );
}

@utility btn-active {
  @apply bg-gb-lt-purple;
}
@utility lines-active {
  @apply !translate-y-0 !w-[calc(100%-1.5rem)] sm:!w-[calc(100%-2rem)]  ;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
    @apply text-gb-white;
  }

  body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    background: var(--bg-rad-grad);

    @apply relative
    min-h-screen
    min-w-[20rem]
    bg-rad-grad
    bg-fixed
    font-copy
    font-light
    leading-[1.2]
    text-[1.125rem]
    sm:text-[1.125rem]
    lg:text-[1.25rem]
    xl:text-[1.325rem]
    bg-gb-dk-purple;

    &::-webkit-scrollbar {
      width: 0.5rem;
      padding-right: 4px;
    }
    &::-webkit-scrollbar-track {
      background: #000000e1;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 0;
      border: none;
      &:hover {
        background-color: rgba(0, 0, 0, 0);
      }
    }
    .c-scrollbar_thumb {
      position: fixed;
      top: 0;
      right: 0;
      background: white;
      opacity: 0.5;
      width: 1px;
      border-radius: 10px;
      margin: 4px;
      height: 100vh;
    }
  }

  main {
    position: relative;
    overflow-x: hidden;
  }

  section {
    @apply w-full py-24 md:py-36 lg:py-48;
  }

  ul,
  ol {
    list-style: none;
  }

  a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    font-weight: normal;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.2;
    font-weight: 300;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-lg;
  }
}
